<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>8-BIT PUB</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nes.min.css" />
    <link rel="stylesheet" href="/stylesheets/nes-icons.min.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="header-items">
        <div class="title">
          <img src="/images/logo.png" class="logo" />
          <div class="title-text">8-bit Pub</div>
        </div>
        <div class="links">
          <a href="/" class="title-link">HOME</a>
          <a href="/admin" class="title-link">ADMIN</a>
          <a href="/logout" class="title-link">LOGOUT</a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="message">Only admin can access this page.</div>
    </div>
    <div class="empty"></div>
    <div class="footer">© 2021 8-bit Pub</div>
  </body>
</html>
