<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>8-BIT PUB</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nes.min.css" />
    <link rel="stylesheet" href="/stylesheets/nes-icons.min.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-items">
        <div class="title">
          <img src="/images/logo.png" class="logo" />
          <div class="title-text">8-bit Pub</div>
        </div>
        <div class="links">
          <a href="/" class="title-link">HOME</a>
          <a href="/signin" class="title-link">SIGNIN</a>
          <a href="/signup" class="title-link">SIGNUP</a>
        </div>
      </div>
    </div>
    <div class="main">
      <section class="message -left">
        <img src="/images/character.png" class="character" />
        <div class="nes-balloon from-left">
          <p>Hey guys, enjoy drinking here!</p>
        </div>
      </section>

      <div class="message-card nes-container with-title is-centered">
        <p class="title">IT'S 8-BIT PUB!</p>
        <p>
          Tucked away in a small corner of the city, this might just be one of the best
          pub in the world.
        </p>
      </div>

      <a href="/signup"
        ><button
          type="button"
          id="action-btn"
          class="action-btn nes-btn is-primary"
        >
          TRY IT!
        </button></a
      >
    </div>
    <div class="empty"></div>
    <div class="footer">© 2021 8-bit Pub</div>
  </body>
</html>
