<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>8-BIT PUB</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nes.min.css" />
    <link rel="stylesheet" href="/stylesheets/nes-icons.min.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="header-items">
        <div class="title">
          <img src="/images/logo.png" class="logo" />
          <div class="title-text">8-bit Pub</div>
        </div>
        <div class="links">
          <a href="/" class="title-link">HOME</a>
          <a href="/admin" class="title-link">ADMIN</a>
          <a href="/logout" class="title-link">LOGOUT</a>
        </div>
      </div>
    </div>
    <div class="portal-main">
      <div class="left-card">
        <div class="nes-container with-title">
          <p class="title">Today's Recommendation</p>
          <ul class="nes-list is-disc">
            <li>Piano Man</li>
            <li>Brandtini</li>
          </ul>
        </div>
        <div class="additional-info nes-container with-title is-dark">
          <p class="title">Today's Playlist</p>
          <div class="song-name"><i class="nes-icon is-small star"></i>In the End</div>
          <div class="song-name"><i class="nes-icon is-small star"></i>sustain++;</div>
          <div class="song-name"><i class="nes-icon is-small star"></i>PARTY</div>
          <div class="song-name"><i class="nes-icon is-small star"></i>Rightfully</div>
          <div class="song-name"><i class="nes-icon is-small star"></i>world.<br>execute(me);</div>
        </div>
      </div>
      <div class="right-card">
        <div class="cocktail-card nes-container is-dark">
          <div class="cocktail-info">
            <img src="/images/beer.png" class="cocktail-img">
            <div class="cocktail-name">Beer</div>
          </div>
          <div class="cocktail-discreption">Traditionally brewed beer has become a luxury, but this one's pretty close to the real deal...</div>
        </div>
        <div class="cocktail-card nes-container is-dark">
          <div class="cocktail-info">
            <img src="/images/piano-man.png" class="cocktail-img">
            <div class="cocktail-name">Piano Man</div>
          </div>
          <div class="cocktail-discreption">This drink does not represent the opinions of the Bar Pianists Union or its associates.</div>
        </div>
        <div class="cocktail-card nes-container is-dark">
          <div class="cocktail-info">
            <img src="/images/brandtini.png" class="cocktail-img">
            <div class="cocktail-name">Brandtini</div>
          </div>
          <div class="cocktail-discreption">8 out of 10 smug assholes would recommend it but they're too busy being smug assholes.</div>
        </div>
        <div class="cocktail-card nes-container is-dark">
          <div class="cocktail-info">
            <img src="/images/sugar-rush.png" class="cocktail-img">
            <div class="cocktail-name">Sugar Rush</div>
          </div>
          <div class="cocktail-discreption">Sweet, light and fruity. As girly as it gets.</div>
        </div>
        <div class="cocktail-card nes-container is-dark">
          <div class="cocktail-info">
            <img src="/images/fluffy-dream.png" class="cocktail-img">
            <div class="cocktail-name">Fluffy Dream</div>
          </div>
          <div class="cocktail-discreption">A couple of these will make your tongue feel velvet-y. More of them and you'll be sleeping soundly.</div>
        </div>
      </div>
    </div>
    <div class="empty"></div>
    <div class="footer">© 2021 8-bit Pub</div>
  </body>
</html>
